* {box-sizing: border-box;}
body {
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 5em;
}

.footer1 {
    font-family: Cambria;
  overflow: hidden;
  margin-bottom: 100px;
  height: 300px;
  margin-top: 70px;
  color: white;
  background-color: rgb(87, 23, 23);
  padding: 20px;
  line-height: 20px;
  border-radius: 30px;
  border-style: solid;
  border-width: 20px;
  border-color: rgb(231, 190, 55);
}

.logo1 {
    width: 250px;
    float: left;
    margin-left: 100px;
    cursor: pointer;
}

.about1 {
    margin-right: 200px;
    float: right;
    color: white;
}

.freddy {
    background-color: rgb(87, 23, 23);
    line-height: 20px;
    color: white;
}

.contact1 {
    margin-left: 200px;
    float: left;
}

.number1 {
    line-height: 25px
}

i:hover {
    cursor: pointer;
}

.faz {
    width: 100px;
}

.faz:hover {
    cursor: pointer;
}

.footer2 {
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 100px;
    height: 300px;
    border-style: solid;
    border-color: #a1c0dd;
    border-width: 20PX;
}

.krusty {
    float: right;
    width: 200px;
    margin-right: 100px;
}

.krusty:hover {
    cursor: pointer;
}

.krab {
    color: rgb(182, 30, 30);
    font-family: monospace;
    font-size: 19px;
    line-height: 25px;
    padding: 10px 300px;
}

.window {
    float: left;
    width: 200px;
    padding: 40px;
}

.window:hover {
    cursor: pointer;
}

.contact2 {
    color: rgb(182, 30, 30);
    float: right;
    font-family: monospace;
    font-size: 19px;
    line-height: 25px;
    padding: 30px 200px;
}

.footer3 {
    overflow: hidden;
    background-color: #134ecc;
    margin-bottom: 100px;
    height: 300px;
    border-radius: 10px;
}

.about3 {
    margin-top: 20px;
    text-align: center;
}

.line {
    border-bottom: 1px solid #ffffff;
  }

.top {
    color: white;
    margin: 20px;
    padding: 10px;
    font-family: Tahoma;
    text-align: center;
    cursor: pointer;
}

.bottom {
    display: block;
    padding: 10px;
    background-color: rgb(52, 133, 240);
}

.face {
    font-family: Tahoma;
    line-height: 30px;
    color: white;
}

.footer4 {
    overflow: hidden;
    background-color: #4e99df;
    margin-bottom: 100px;
    height: 300px;
    border-color: white;
    border-width: 10px;
    border-style: double;
}

.shark {
    float: left;
    margin-left: 50px;
    width: 250px;
}

.contact4 {
    margin: 30px 200px ;
    float: left;
}

.number4 {
    font-family: Courier;
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.footer5 {
    overflow: hidden;
    background-color: aquamarine;
    margin-bottom: 100px;
    height: 300px;
}


